/* This is for the input bar */

.input-bar {
    width: 900px;
    height: 60px;
    border: none;
    font-size: 20px;
}

.input-bar::placeholder {
    font-size: 20px;
    padding-left: 10px;
    text-align: center;
}


/*This is for the footer part*/


.footer-menu {
    display:none;
}

     /* This is for rem-tasks para in footer */

.rem-tasks {
    display: inline-block;
    margin: 0px;
}
    /*footer buttons */

    .All {

    }




/*This is for the paragraph section*/


.strike-through {
    text-decoration: line-through;
}

.activity {
    font-size: 20px;
    color: black;

}


/* This is for rem-tasks para in footer */

.rem-tasks {
    display: inline-block;
}

/* These are for the buttons */


.clear {
    display: none;
}

.clear-active {
    display: inline-block;
}

body {
    background-color: rgb(223, 218, 218);
}

h1 {
    text-align: center;
    color: rgb(172, 105, 105);
    font-size: 80px;
}


/* This is for container */

.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* This is for buttons in list */

.change-color {
    background: green;
}